
.moreContainer{
    width: 60%;
    padding-top: 50px;
    padding-bottom: 100px;
}
.moreContainer h1{
    color: rgb(17, 130, 205);
    font-weight: 900;
    font-size: 3rem;
}
.moreContainer h2{
    color: rgb(17, 130, 205);
    font-weight: 500;
    font-size: 2rem;
}
.moreContainer p{
    font-size: 1.2rem;
    color: gray;
}